@model AuthorViewModel

<p>
    <h1>YAZAR SAYFASI</h1>
    <div><h6>url: @Model.Url</h6></div>
    <div><h6>Fullname: @Model.FullName</h6></div>
    <div><h6>Description: @Model.Description</h6></div>
</p>


<hr />

<hr />

<h1>MAKALELER</h1>

<hr />
@foreach (var item in Model.Articles)
{
    <div>
        <h1>@item.Title</h1>


        <p>@item.Content</p>
        <p>@item.CreatedDate</p>

        <ul>

            @foreach (var topic in item.Topics)
            {
                <li>@topic</li>
            }

        </ul>

    </div>
    <hr />
}